<a id="1"></a>
<b><h2 style='border:0; color:white; background:purple'><center>Anti-Rumor</center><h3></b>

![](https://www.motherjones.com/wp-content/uploads/fakenews_0.jpg?w=2400&h=1350&crop=1)

<a id="top"></a>

<div class="list-group" id="list-tab" role="tablist">
<h3 class="list-group-item list-group-item-action active" data-toggle="list" style='color:white; background:crimson; border:0' role="tab" aria-controls="home"><center>Navigation</center></h3>

* [**Visualization and analysis**](#10)
  
* [**Feature Scaling**](#200)
  * [Normalization](#201)
  
  * [Standardization](#202)  
  
* [**Without scaling**](#300)

<h3>Importing Libraries</h3>

In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as pl
from sklearn.metrics import mean_squared_error, accuracy_score, mean_squared_log_error, classification_report
import re 
import string

In [38]:
fake = pd.read_csv('Fake.csv')

In [39]:
true = pd.read_csv('True.csv')

In [40]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [41]:
true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [42]:
fake.transpose()

,0,1,2,3,4,5,6,7,8,9,...,23471,23472,23473,23474,23475,23476,23477,23478,23479,23480
title,Donald Trump Sends Out Embarrassing New Year’...,Drunk Bragging Trump Staffer Started Russian ...,Sheriff David Clarke Becomes An Internet Joke...,Trump Is So Obsessed He Even Has Obama’s Name...,Pope Francis Just Called Out Donald Trump Dur...,Racist Alabama Cops Brutalize Black Boy While...,"Fresh Off The Golf Course, Trump Lashes Out A...",Trump Said Some INSANELY Racist Stuff Inside ...,Former CIA Director Slams Trump Over UN Bully...,WATCH: Brand-New Pro-Trump Ad Features So Muc...,...,Seven Iranians freed in the prisoner swap have...,#Hashtag Hell & The Fake Left,Astroturfing: Journalist Reveals Brainwashing ...,The New American Century: An Era of Fraud,Hillary Clinton: ‘Israel First’ (and no peace ...,McPain: John McCain Furious That Iran Treated ...,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,How to Blow $700 Million: Al Jazeera America F...,10 U.S. Navy Sailors Held by Iranian Military ...
text,Donald Trump just couldn t wish all Americans ...,House Intelligence Committee Chairman Devin Nu...,"On Friday, it was revealed that former Milwauk...","On Christmas day, Donald Trump announced that ...",Pope Francis used his annual Christmas Day mes...,The number of cases of cops brutalizing and ki...,Donald Trump spent a good portion of his day a...,In the wake of yet another court decision that...,Many people have raised the alarm regarding th...,Just when you might have thought we d get a br...,...,"21st Century Wire says This week, the historic...",By Dady Chery and Gilbert MercierAll writers ...,Vic Bishop Waking TimesOur reality is carefull...,Paul Craig RobertsIn the last years of the 20t...,Robert Fantina CounterpunchAlthough the United...,21st Century Wire says As 21WIRE reported earl...,21st Century Wire says It s a familiar theme. ...,Patrick Henningsen 21st Century WireRemember ...,21st Century Wire says Al Jazeera America will...,21st Century Wire says As 21WIRE predicted in ...
subject,News,News,News,News,News,News,News,News,News,News,...,Middle-east,Middle-east,Middle-east,Middle-east,Middle-east,Middle-east,Middle-east,Middle-east,Middle-east,Middle-east
date,"December 31, 2017","December 31, 2017","December 30, 2017","December 29, 2017","December 25, 2017","December 25, 2017","December 23, 2017","December 23, 2017","December 22, 2017","December 21, 2017",...,"January 20, 2016","January 19, 2016","January 19, 2016","January 19, 2016","January 18, 2016","January 16, 2016","January 16, 2016","January 15, 2016","January 14, 2016","January 12, 2016"

In [43]:
true.transpose()

,0,1,2,3,4,5,6,7,8,9,...,21407,21408,21409,21410,21411,21412,21413,21414,21415,21416
title,"As U.S. budget fight looms, Republicans flip t...",U.S. military to accept transgender recruits o...,Senior U.S. Republican senator: 'Let Mr. Muell...,FBI Russia probe helped by Australian diplomat...,Trump wants Postal Service to charge 'much mor...,"White House, Congress prepare for talks on spe...","Trump says Russia probe will be fair, but time...",Factbox: Trump on Twitter (Dec 29) - Approval ...,Trump on Twitter (Dec 28) - Global Warming,Alabama official to certify Senator-elect Jone...,...,"Mata Pires, owner of embattled Brazil builder ...","U.S., North Korea clash at U.N. forum over nuc...","U.S., North Korea clash at U.N. arms forum on ...",Headless torso could belong to submarine journ...,North Korea shipments to Syria chemical arms a...,'Fully committed' NATO backs new U.S. approach...,LexisNexis withdrew two products from Chinese ...,Minsk cultural hub becomes haven from authorities,Vatican upbeat on possibility of Pope Francis ...,Indonesia to buy $1.14 billion worth of Russia...
text,WASHINGTON (Reuters) - The head of a conservat...,WASHINGTON (Reuters) - Transgender people will...,WASHINGTON (Reuters) - The special counsel inv...,WASHINGTON (Reuters) - Trump campaign adviser ...,SEATTLE/WASHINGTON (Reuters) - President Donal...,"WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...","WEST PALM BEACH, Fla (Reuters) - President Don...",The following statements were posted to the ve...,The following statements were posted to the ve...,WASHINGTON (Reuters) - Alabama Secretary of St...,...,"SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",GENEVA (Reuters) - North Korea and the United ...,GENEVA (Reuters) - North Korea and the United ...,COPENHAGEN (Reuters) - Danish police said on T...,UNITED NATIONS (Reuters) - Two North Korean sh...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,"LONDON (Reuters) - LexisNexis, a provider of l...",MINSK (Reuters) - In the shadow of disused Sov...,MOSCOW (Reuters) - Vatican Secretary of State ...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...
subject,politicsNews,politicsNews,politicsNews,politicsNews,politicsNews,politicsNews,politicsNews,politicsNews,politicsNews,politicsNews,...,worldnews,worldnews,worldnews,worldnews,worldnews,worldnews,worldnews,worldnews,worldnews,worldnews
date,"December 31, 2017","December 29, 2017","December 31, 2017","December 30, 2017","December 29, 2017","December 29, 2017","December 29, 2017","December 29, 2017","December 29, 2017","December 28, 2017",...,"August 22, 2017","August 22, 2017","August 22, 2017","August 22, 2017","August 21, 2017","August 22, 2017","August 22, 2017","August 22, 2017","August 22, 2017","August 22, 2017"

In [44]:
fake['class']=0
true['class']=1

In [45]:
fake.shape, true.shape

((23481, 5), (21417, 5))

In [46]:
fake_test = fake.tail(10) #get last 10 samples
for i in range(23480, 23470, -1):
    fake.drop([i],axis = 0, inplace = True) #drop last 10 samples

#repeat for true    
true_test = true.tail(10) #get last 10 samples
for i in range(21416, 21406, -1):
    true.drop([i],axis = 0, inplace = True) #drop last 10 samples

In [47]:
fake.shape, true.shape

((23471, 5), (21407, 5))

we've deleted 10 rows from each datasets it's crucial to always check the shape to avoid dim error encounters

In [48]:
fake_test['class']=0
true_test['class']=1

C:\Users\ayman\AppData\Local\Temp\ipykernel_485888\4064243387.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_test['class']=0
C:\Users\ayman\AppData\Local\Temp\ipykernel_485888\4064243387.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  true_test['class']=1

<a id="10"></a>
<h3 style='background:purple; border:0; color:white;'><center>Visualization</center></h3>

In [49]:
fake_test.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [50]:
true_test.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

Now to merge fake and true tests and then we merge both fake and new csv

In [51]:
merge = pd.concat([fake,true], axis=0)
merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [52]:
merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [53]:
merge_d = merge.drop(['title', 'subject', 'date'], axis=1)

<h3>Cleaning and analysis</h3>

In [54]:
merge_d.isnull()

        text  class
0      False  False
1      False  False
2      False  False
3      False  False
4      False  False
...      ...    ...
21402  False  False
21403  False  False
21404  False  False
21405  False  False
21406  False  False

[44878 rows x 2 columns]

In [55]:
merge_d.isnull().sum()

text     0
class    0
dtype: int64

In [56]:
merge_d.isnull().sum()

text     0
class    0
dtype: int64

In [57]:
merge_d = merge_d.sample(frac=1)
merge_d.head()

                                                    text  class
19455  WASHINGTON (Reuters) - Even as thousands of ad...      1
2109   Former Texas Republican Rep. Steve Stockman s ...      0
1177   WASHINGTON (Reuters) - U.S. President Donald T...      1
18183  BEIJING (Reuters) - Thirteen Chinese fishermen...      1
10601  FORT WORTH, Texas (Reuters) - The widow of a s...      1

In [58]:
merge_d.reset_index(inplace=True)
merge_d.drop(['index'], axis=1, inplace=True)
merge_d.columns

Index(['text', 'class'], dtype='object')

In [59]:
merge_d.head()

                                                text  class
0  WASHINGTON (Reuters) - Even as thousands of ad...      1
1  Former Texas Republican Rep. Steve Stockman s ...      0
2  WASHINGTON (Reuters) - U.S. President Donald T...      1
3  BEIJING (Reuters) - Thirteen Chinese fishermen...      1
4  FORT WORTH, Texas (Reuters) - The widow of a s...      1

---

Creating function to process text

In [60]:
def wordopt(text):
    text = text.lower()
    text=re.sub('\[.*\]', '', text) # remove spaces and process text
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [61]:
merge_d['text'] = merge_d['text'].apply(wordopt)

Define dependent and independent variables

In [62]:
x = merge_d["text"]
y = merge_d["class"]

<a id="20"></a>
<h3 style='background:purple; border:0; color:white;'><center>Splitting data and training</center></h3>

In [63]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xx_train = vectorization.fit_transform(x_train)
xx_test = vectorization.transform(x_test)

<h3 style='color:crimson'><center>Logistic Regression</center></h3>

In [65]:
from sklearn.linear_model import LogisticRegression

logistic = LogisticRegression()
logistic.fit(xx_train,y_train)

LogisticRegression()

In [66]:
pred = logistic.predict(xx_test)#text

Testing Accuracy

In [67]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      5837
           1       0.98      0.99      0.99      5383

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

<h3 style='color:crimson'><center>Decision Tree Classifier</center></h3>

In [68]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()
dtc.fit(xx_train, y_train)#model fit

DecisionTreeClassifier()

In [69]:
pred_dtc=dtc.predict(xx_test)

Accuracy

In [70]:
dtc.score(xx_test, y_test)

0.9950980392156863

Classification report

In [71]:
print(classification_report(y_test, pred_dtc))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      5837
           1       1.00      0.99      0.99      5383

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

<h3 style='color:crimson'><center>Gradient Boosting Classifier</center></h3>

In [72]:
from sklearn.ensemble import GradientBoostingClassifier #GB builds an additive model in a forward stage-wise fashion; it allows for the optimization

gbc = GradientBoostingClassifier(random_state=0)
gbc.fit(xx_train, y_train)

GradientBoostingClassifier(random_state=0)

In [73]:
pred_gbc = gbc.predict(xx_test)

In [74]:
gbc.score(xx_test, y_test)

0.9954545454545455

In [75]:
print(classification_report(y_test, pred_gbc))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5837
           1       0.99      1.00      1.00      5383

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

<h3 style='color:crimson'><center>Random Forest Classifier</center></h3>

In [76]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(random_state=0)
rfc.fit(xx_train, y_train)

RandomForestClassifier(random_state=0)

In [77]:
pred_rfc=rfc.predict(xx_test)

In [78]:
rfc.score(xx_test, y_test)

0.9900178253119429

In [79]:
print(classification_report(y_test, pred_rfc))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5837
           1       0.99      0.99      0.99      5383

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [80]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Truested News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) #apply text processing
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    # Predict for all the models
    pred_LR = logistic.predict(new_xv_test)
    pred_DT = dtc.predict(new_xv_test)
    pred_GBC = gbc.predict(new_xv_test)
    pred_RFC = rfc.predict(new_xv_test)

    #print all models predictions
    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_lable(pred_LR[0]),                                                                                                       output_lable(pred_DT[0]), 
                                                                                                              output_lable(pred_GBC[0]), 
                                                                                                              output_lable(pred_RFC[0])))

In [ ]:
from urllib.request import urlopen

for line in urlopen("https://www.bbc.com/news/world-asia-china-64055849"):
    print(line)

In [ ]:
import urllib.request
import urllib3

url = 'https://www.bbc.com/news/world-asia-china-64055849'
file = urllib.request.urlopen(url)

for line in file:
    decoded_line = line.decode('utf-8').strip()
    print(decoded_line)

In [ ]:
import urllib.request

headers = {}
headers['User-Agent'] = "Mozilla/5.0 (X11; Ubuntu; Linux i686; rv:48.0) Gecko/20100101 Firefox/48.0"

req = urllib.request.Request('https://arstechnica.com', headers = headers)
html = urllib.request.urlopen(req).read()
print(html)

In [ ]:
import urllib.request  # the lib that handles the url stuff

for line in urllib.request.urlopen('https://www.bbc.com/news/world-asia-china-64055849'):
    print(line.decode('utf-8')) #utf-8 or iso8859-1 or whatever the page encoding scheme is

In [103]:
news = str(input())
manual_testing(news)

LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Fake News

In [ ]:

import urllib.request
request_url = urllib.request.urlopen('https://www.geeksforgeeks.org/')
print(request_url.read())

In [108]:
import urllib.request
from bs4 import BeautifulSoup

response = urllib.request.urlopen('https://www.bbc.com/news/world-asia-china-64055849')
html_doc = response.read()
soup = BeautifulSoup(html_doc, 'html.parser')

for x in soup.find_all('b'): 
    textnews = x.string
    print(x.string)

A sudden lifting of many of China's Covid restrictions has caused nationwide outbreaks - as well as confusion and anger on social media.
Follow Kerry on Twitter:

In [110]:
news = str(x.string)
manual_testing(news)

LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Fake News